<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <div>
            <img src="" alt="image">
            <p></p>
            <a href="user.html">
                <button>User</button>
            </a>
    </div>
    <div>
            <img src="" alt="image">
            <p></p>
            <a href="partner.html">
                <button>Partner</button>
            </a>    
    </div>
    
</body>
</html>