{% extends "_base.html" %}
{% load static %}
{% load compress %}

{% block external_css %}
{% compress css %} 
      <link rel="stylesheet"
        href="{% static 'css/home.css' %}"> 
{% endcompress %}
{% endblock  %}


{% block content %}
<div class="gridblock">
    <div class="subblock">
        <img src="../../static/images/user.jpg" alt="user image">
        <p>

        </p>
        <a href={% url 'register_user' %} class="mt-6">
            <button>User</button>
        </a>
</div>
<div class="subblock">
        <img src="../../static/images/helper.png" alt="partner image" >
        <p>

        </p>
        <a href= {% url 'register_partner' %} class="mt-6">
            <button>Partner</button>
        </a>    
</div>   
</div>
{% endblock content %}
