{% extends "_base.html" %}
{% load static %}
{% load compress %}


{% block content %}
<div class="container">
<div class="py-4">
<div class="row">
    <div class="col-sm-6 mb-3 mb-sm-0">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">User</h5>
          <p class="card-text">Welcome here, are you looking for anyone?</p>
          <a href={% url 'register_user' %} class="mt-6">
            <div class="d-grid gap-2 col-6 mx-auto">
              <button class="btn btn-primary" type="button">User</button>
            </div>
        </a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Partner</h5>
          <p class="card-text">Welcome here, how can we help you ?</p>
          <a href={% url 'register_partner' %} class="mt-6">
            <div class="d-grid gap-2 col-6 mx-auto">
              <button class="btn btn-primary" type="button">Partner</button>
            </div>
        </a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock content %}