<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>mlh</title>
    <link rel="stylesheet" href="../../static/css/layout.css">
    <script src="../../static/javascript/curloc.js"></script>
    

</head>
<body>
   <h1> Hello,</h1>
    <!--<form class="user-form">
    <div class="name">
           Your name 
        </div>
           <div>
            <input type="text">
           </div>     
        <div>
           Your Adhaar number 
        </div>
           <div class="input">
            <input type="text" oninput="" pattern="\d{12}" required title="please enter your Adhaar number">
           </div>   
        <div>
           Your phone number
           <!--otp verification for user--
        </div>
           <div >
            <input type="text" oninput="" pattern="\d{10}" required title="please enter your phone number">
           </div>      
        
        <div>
           Address
        </div>
        <div class="suggestion">
          where you need our helper 
        </div>
        <div>
          <button class="live-location" onclick="getLocation()">Share live-location</button>
        </div>
        <div>
         <h3>Want to Mark on Map. </h3>
        </div>
        <div>
          Or
        </div>  
        <div>
          <input type="text" placeholder="eg : Radha Nagar(area)">
          <input type="text" placeholder="eg : Agartala (city)">
          <input type="text" placeholder="eg : Tripura (state)">
          <input type="text" placeholder="eg : India (country)">
         </div> 

         {% block submit %}
         {% endblock %}

      </form>-->

    <form method="post">
       {% csrf_token %}
       {{ form.as_p }}
         <button type="submit">Submit</button>
    </form>
</body>
</html>