<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div class="popup">
        <div class="popup-content">
            <form action="">
                <input type="password" name="OTP" placeholder="OTP">
                <label for=""></label>
                <button>Verify</button>
            </form>
                 <button>Resend OTP</button>
        </div>
    </div>
</body>
</html>