{% load crispy_forms_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Partner</title>
</head>
<body class="bg-gray-100">
    <nav class="name">
        {% if user.is_authenticated %}
         <p class="text-lg">Welcome, {{user.username}}!</p>
        {% else %}
            <p>Welcome Here!</p>
        {% endif %}
    </nav>
    <form method="post" >
        {% csrf_token %}
        <div class="rform">
        {{ form_partner|crispy }}      
        </div>
        <button type="submit">Submit</button>
        <div>
            <button type="button" onclick="window.open('https://developers-dot-devsite-v2-prod.appspot.com/maps/documentation/utils/geocoder', '_blank')">Open Map in newtab </button>
        </div>
        
            <div id="map-container">
              <iframe src="https://developers-dot-devsite-v2-prod.appspot.com/maps/documentation/utils/geocoder" width="96%" height="600vh"></iframe>
            </div>
          
    </form>
</body>
</html>