
{% extends "_base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <h2>Register</h2>
    <div class="container">
      <form method="post" class="outer" >
        {% csrf_token %}
        <div class="rform">
        {{ register_form|crispy }}
        </div>
        <div class="d-grid gap-2 d-md-block">
          <button class="btn btn-primary" type="submit">Register</button>
      </div>
      </form>
      <p> have account :  <a href={% url 'login_user' %}> <button class="btn btn-primary"> login </button></a></p>
    </div>
{% endblock content %}
