<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/registration.css">
</head>
<body>
    <h2>Register</h2>
    <div class="container">
      <form method="post" class="outer" >
        {% csrf_token %}
        <div class="rform">
        {{ register_form.as_p }}
        </div>
      </form>
      <button type="submit">Register</button>
      <p> have account :  <a href={% url 'login_user' %}> <button> login </button></a></p>
    </div>
</body>
</html>