<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        {{ form_user.as_p }}
       <div>
         <input type="text" placeholder="lon">
         <input type="text" placeholder="lat">
         <button onclick=""> live-location </button>
       </div>
         <button type="submit">Submit</button>
    </form>
</body>
</html>