asgiref==3.7.2
crispy-bootstrap5==2023.10
Django==4.2.7
django-appconf==1.0.6
django-bootstrap5==23.3
django-browser-reload==1.12.1
django-compressor==4.4
django-crispy-forms==2.1
django-multiselectfield==0.1.12
rcssmin==1.1.1
rjsmin==1.2.1
sqlparse==0.4.4
tailwind==3.1.5b0
typing_extensions==4.9.0
python-dotenv==1.1.1