{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'hello.index.css' %}">
</head>
<body>
    <div> 
        <h1>
            Welcome to helper world
        </h1>
     </div>
    <span>
      <h2>
        join us
      </h2>
      <div>
        <h2><button>Partner</button></h2>
      </div>
    </span>
    <span>
      <h2>
        Need helper
      </h2>
      <div>
      <h2><button>User</button></h2>
      </div>
    </span>
</body>
</html>